<!DOCTYPE html>
<html>
<head>
  <title>Vain Routes</title>
<link rel="stylesheet" href="/vain_routes/stylesheets/jui-redmond/jquery-ui-1.8.11.custom.css" type="text/css" media="screen" title="no title" charset="utf-8">

  <%= stylesheet_link_tag '/vain_routes/stylesheets/base.css', '/vain_routes/stylesheets/data_table_jui' %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
	<script type="text/javascript" language="javascript" src="/vain_routes/data_tables/js/jquery.dataTables.js"></script>

  <%= csrf_meta_tag %>
</head>
<body>
  <div class="main-content">
	  <div class="header">Header</div>
	 <div class="content">
	 	  <%  [:error, :warning, :notice].each do |sym| %>
		  <% if flash[sym] %>
			<p class="flash <%=sym.to_s%>"><%= flash[sym] %></p>
		  <% end %>
		  <% end %>
		 <%= yield %>
	 </div>
	 <div class="footer">Footer</div>
 </div>
</body>
</html>
