<!DOCTYPE html>
<html>
<head>
  <title>Vain Routes</title>
  <%= stylesheet_link_tag 'vain_routes/base.css', '/data_tables/css/demo_table' %>
	<script type="text/javascript" language="javascript" src="/data_tables/js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="/data_tables/js/jquery.dataTables.js"></script>

  <%= csrf_meta_tag %>
</head>
<body>
  <div class="main-content">
	  <div class="header">Header</div>
	 <div class="content">
	 	  <%  [:error, :warning, :notice].each do |sym| %>
		  <% if flash[sym] %>
			<p class="flash <%=sym.to_s%>"><%= flash[sym] %></p>
		  <% end %>
		  <% end %>
		 <%= yield %>
	 </div>
	 <div class="footer">Footer</div>
 </div>
</body>
</html>
